/*npm run watch-css*/
/*Variables*/
* {
  margin: 0;
  padding: 0; }

.container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px; }

.container-img .box-img figure {
  width: 100%;
  height: 100%; }

.container-img .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container-img .box-img:nth-child(1) {
  grid-column-start: span 2; }

.container-img .box-img:nth-child(4) {
  grid-column-start: span 2; }

.main-ejemplo1 p {
  font-size: 30px;
  padding: 10px;
  text-align: center; }

/*ejemplo 2*/
.div-noticias2 {
  display: flex;
  flex-direction: column;
  padding: 10px; }

.div-noticias2 img {
  width: 550px;
  height: 350px; }

.div-noticias2 small {
  font-size: 15px;
  color: #000;
  text-align: left; }

.div-noticias2 p {
  font-size: 22px;
  text-align: left; }

.div-noticias2 h1 {
  text-align: center; }

.div-noticias2 h3 {
  text-align: center; }

.animate__animated.animate__zoomInRight {
  --animate-duration: 2s; }

.animate__animated.animate__rollIn {
  --animate-duration: 4s; }

.navbar-toggler:hover {
  transform: scale(1);
  border: red 5px solid; }

.nav-link:hover {
  transform: scale(1, 1);
  background-color: darkblue; }

.header {
  min-height: 20vh; }

/*Body*/
main {
  min-height: 70vh;
  padding: 10px; }
  main h1 {
    text-align: center;
    color: #000; }
  main hr {
    width: 100%;
    border: 3px solid #000; }
  main .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "grid1 grid2 . ." "grid3 grid4 grid5 ." ". . . ."; }
  main .grid-1 {
    grid-area: grid1; }
  main .grid-2 {
    grid-area: grid2; }
  main .grid-3 {
    grid-area: grid3; }
  main .grid-4 {
    grid-area: grid4; }
  main .grid-5 {
    grid-area: grid5; }
  main .container div {
    padding: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: bold; }
  main .fila {
    width: 350px;
    height: 200px; }
  main .grid-1 a {
    text-decoration: none;
    color: #000; }
  main .grid-2 a {
    text-decoration: none;
    color: #000; }
  main .grid-1 p {
    color: red;
    font-weight: bold; }
  main .grid-2 p {
    color: red;
    font-weight: bold; }
  main .grid-1 {
    display: flex;
    flex-direction: column; }
  main .grid-2 {
    display: flex;
    flex-direction: column; }
  main .grid-3 {
    display: flex;
    flex-direction: column; }
  main .grid-4 {
    display: flex;
    flex-direction: column; }
  main .grid-5 {
    display: flex;
    flex-direction: column; }
  main small {
    color: darkblue; }

/*Footer con BEM*/
/*Grid*/
footer {
  background: linear-gradient(to top, #000, grey);
  min-height: 10vh;
  color: white; }

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Redes Secciones Form Contacto" "Redes Secciones Form Contacto" "Redes Secciones Form Contacto"; }
  .container-footer .Secciones {
    grid-area: Secciones; }
  .container-footer .Form {
    grid-area: Form; }
  .container-footer .Contacto {
    grid-area: Contacto; }
  .container-footer .Redes {
    grid-area: Redes; }
  .container-footer img {
    height: 40px;
    width: 40px;
    padding: 10px; }

/*Area redes*/
.redes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white; }
  .redes .redes__table {
    padding: 10px; }

/*Area secciones*/
.secciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 10px; }
  .secciones .secciones__ul {
    list-style: none;
    padding: 10px; }
  .secciones .secciones__a {
    text-decoration: none;
    color: white; }
  .secciones .secciones__li {
    padding: 10px; }
  .secciones .secciones__li:hover {
    font-weight: bold; }
  .secciones .secciones__p {
    font-weight: bold;
    color: white; }

/*Area form*/
.form {
  padding: 10px;
  text-align: center; }
  .form .form__p {
    padding-bottom: 10px;
    color: white; }
  .form .mail::placeholder {
    color: #000; }
  .form .form__input-email[type=text]:focus {
    transform: scale(1, 1);
    border: 3px solid blue; }
  .form .form__input-button {
    padding: 15px 25px;
    font-size: 10px;
    font-size: 12;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #000;
    border-color: grey;
    border-radius: 15px; }
  .form .form__input-button:hover {
    background-color: #000; }
  .form .form__input-button:active {
    background-color: black;
    transform: translateY(4px);
    color: white; }

/*Area contacto*/
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap; }
  .contacto .contacto__p {
    font-weight: bold;
    color: white; }
  .contacto .contacto__a {
    text-decoration: none;
    padding: 10px;
    color: white; }
  .contacto .contacto__a :hover {
    font-weight: bold; }

/*seccion musica*/
.div-musica {
  display: flex; }
  .div-musica .img {
    width: 600px;
    height: 400px;
    padding: 10px; }

.div-musica p {
  font-size: 30px;
  font-weight: bold;
  padding: 10px; }

@media (max-width: 768px) {
  main hr {
    border: 2px solid blue; }
  main .container {
    display: flex;
    flex-direction: column; }
  main .container div {
    font-size: 14px; }
  main .fila {
    width: 250px;
    height: 150px; }
  /*Footer*/
  .container-footer {
    display: flex;
    flex-direction: column;
    background-color: #000; }
  .secciones {
    display: flex;
    flex-direction: row; }
  .secciones__ul {
    display: flex;
    flex-direction: row; }
  .div-musica {
    flex-direction: column; }
  .div-musica img {
    width: 300px;
    height: 200px; }
  .div-musica p {
    font-size: 16px;
    font-weight: none; }
  .container-img {
    display: flex;
    flex-direction: column; }
  .box-img img {
    width: 250px;
    height: 150px;
    padding: 10px; } }
