
/*npm run watch-css*/
@import './recursos/variables.scss';
@import './recursos/reset';
@import './recursos/ejemplo1.scss';
@import './recursos/ejemplo2.scss';
@import './recursos/animaciones.scss';

.navbar-toggler:hover{
    transform: scale(1);
    border: red 5px solid ;
}
.nav-link:hover{
    transform: scale(1,1);
    background-color: darkblue;
}
.header{
    min-height: 20vh;
}
/*Body*/
main{
    min-height: 70vh;
    padding: 10px;
    h1{
        text-align: center;
        color: $negro;
    }
    hr{
        width: 100%;
        border: 3px solid $negro;
    }
    .container{  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "grid1 grid2 . ."
          "grid3 grid4 grid5 ."
          ". . . .";
      }
      .grid-1 { grid-area: grid1; }
  
      .grid-2 { grid-area: grid2; }
      
      .grid-3 { grid-area: grid3; }
      
      .grid-4 { grid-area: grid4; }
      
      .grid-5 { grid-area: grid5; }
    
    .container div{
    padding: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    }
    .fila{
        width: 350px;
        height: 200px;
    }
    .grid-1 a{
        text-decoration: none;
        color: $negro;
    }
    .grid-2 a{
        text-decoration: none;
        color: $negro;
    }
    .grid-1 p{
        color: red;
        font-weight: bold;
    }
    .grid-2 p{
        color: red;
        font-weight: bold;
    }
    
    .grid-1{
        display: flex;
        flex-direction: column;
    }
    .grid-2{
        display: flex;
        flex-direction: column;
    }
    .grid-3{
        display: flex;
        flex-direction: column;
    }
    .grid-4{
        display: flex;
        flex-direction: column;
    }
    .grid-5{
        display: flex;
        flex-direction: column;
    }
    small {
        color: darkblue; 
    }
}

/*Footer con BEM*/
/*Grid*/

footer{
    background: linear-gradient(to top, $negro, grey);
    min-height: 10vh;
    color: white;
}
.container-footer {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Redes Secciones Form Contacto"
    "Redes Secciones Form Contacto"
    "Redes Secciones Form Contacto";
    .Secciones { grid-area: Secciones; }
      
    .Form { grid-area: Form; }
      
    .Contacto { grid-area: Contacto; }
      
    .Redes { grid-area: Redes; }
    img{
        height: 40px;
        width: 40px;
        padding: 10px;
    }
}

/*Area redes*/
.redes{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    .redes__table{
        padding: 10px;
    }
}

/*Area secciones*/
.secciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    .secciones__ul{
        list-style: none;
        padding: 10px;
    }
    .secciones__a{
        text-decoration: none;
        color: white
    }
    .secciones__li{
        padding: 10px;
    }
    .secciones__li:hover{
        font-weight: bold;
    }
    .secciones__p{
        font-weight: bold;
        color: white;
    }
}
/*Area form*/

.form{
    padding: 10px;
    text-align: center;
    .form__p{
        padding-bottom: 10px ;
        color: white;
    }
    .mail::placeholder{
        color: $negro;
    }
    .form__input-email[type=text]:focus {
        transform: scale(1,1);
        border: 3px solid blue;
    }
    .form__input-button{
        padding: 15px 25px;
        font-size: 10px;
        font-size: 12;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: $negro;
        border-color: grey;
        border-radius: 15px;
    }
          
    .form__input-button:hover {background-color: $negro}
          
    .form__input-button:active {
        background-color: black;
        transform: translateY(4px);
        color: white;
    }
}

/*Area contacto*/
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    .contacto__p{
        font-weight: bold;
        color: white;
    }
    .contacto__a{
        text-decoration: none;
        padding: 10px;
        color: white;
    }
    .contacto__a :hover{
        font-weight: bold;
    }
}


/*seccion musica*/
.div-musica{
    display: flex;
    .img{
        width: 600px;
        height: 400px;
        padding: 10px;
    }
    
}
.div-musica p{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}





@media (max-width:768px){
      main hr {
        border: 2px solid blue; }
      main .container {
        display: flex;
        flex-direction: column;
       }
      main .container div {
        font-size: 14px;
     }
      main .fila {
        width: 250px;
        height: 150px; }
        /*Footer*/
    .container-footer {  
        display: flex;
        flex-direction: column;
        background-color: $negro;
      }
    .secciones{
        display: flex;
        flex-direction: row;
    }
    .secciones__ul{
        display: flex;
        flex-direction: row;
    }
    .div-musica{
        flex-direction: column;
    }
    .div-musica img{
        width: 300px;
        height: 200px;
    }
    .div-musica p{
        font-size: 16px;
        font-weight: none;
    }
    .container-img{
       display: flex;
       flex-direction: column;
    }
    .box-img img{
        width: 250px;
        height: 150px;
        padding: 10px;
    }
}

    


