/*ejemplo 2*/
.div-noticias2{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.div-noticias2 img {
    width: 550px;
    height: 350px;
}
.div-noticias2 small{
    font-size: 15px;
    color: $negro;
    text-align: left;
}
.div-noticias2 p{
    font-size: 22px;
    text-align: left;
}
.div-noticias2 h1{
    text-align: center;
}
.div-noticias2 h3{
    text-align: center;
}